/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/**********************/
/*Styling Begins Here */
/**********************/
*{
	color: white;
}
body {
	width: ;
	margin: 2x auto;
}
.hotTopic {
	width: 800px;
	margin: 10 auto;
}


.hT1 {

	background-color:#FF764E;
	}
.hT2 {
	
	background-color:#5ED3EB;
	}
.hT3 {
	
	background-color:#FFCD69
	}