/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/**********************/
/*Styling Begins Here */
/**********************/
*{
	color: green;
	background-color: #DDB9A3;
	font-family: Roboto Mono, Arial, Helvetica, sans-serif;
}
h1 {
	font-family: Chelsea Market, Arial, Helvetica, sans-serif;
}
h2, h3 {

}

.hotTopic {
	width:1000px;
	margin: 5px auto;
	border: 2px solid red;
}
header{
	width: 80%;
	margin: 10px auto;
}
.hotTopic header nav a {
	display: inline-block;
	border: 2px red solid;
	border-radius: 20%;
	margin:25px 50px;
	padding: 10px;
	min-width: 15%;
	min-height: 10%;
	text-align: center;
}
.namePlate{
	width: 1000px;
	margin:10x auto;
	border: 2px red solid;

}
.namePlate .scenicPlate {
	width: 40%;
	display:block;
	border: 2px red solid;
	
}
.namePlate .infoPlate{
	width:60%;
	display:inline-block;
	border: 2px red solid;
}

.roundPic{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	
}

.hT1 {

	background-color:#FF764E;
	}
.hT2 {
	
	background-color:#5ED3EB;
	}
.hT3 {
	
	background-color:#FFCD69
	}